<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HinárioCCB.net</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Quicksand:wght@300;400;500;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<style>
  * {
    font-family: Roboto, sans-serif;
  }
</style>
<body>

{{ $posts := where .Site.Pages "Section" "5" }}
{{ $sortedPosts := sort $posts ".Params.numero" "asc" }}

{{ range $sortedPosts }}
  <p><a href="{{ .Permalink }}"></a>{{ .Params.numero }} - {{ .Params.titulo }}</a></p>
{{ end }}

</body>
</html>
